.calculator {
    max-width: 100vw;
    max-height: auto;
    aspect-ratio: 3 / 4;
    background-color: rgb(160, 160, 160);
    display: flex;
    flex-direction: column;
}

.screen {
    background-color: #1E201E;
    color: #ECDFCC;
    width: 100%;
    flex: 1;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 3;
}

.buttons > div {
    display: flex;
    align-items: stretch;
    flex: 1;
}

.buttons > div > div {
    margin: 2px;
    background-color: #3C3D37;
    color: #ECDFCC;
    flex: 1;
    text-align: center;
    font-size: 4vw;
    container-name: row;
    padding: 2%;
}

/* @container row (min-width: 2px) {
    .buttons > div > div {
        font-size: 80cqw;
    }
} */

.operation {
    background-color: #697565;
}

div div div.double {
    flex: 2;
}